@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

header {
    padding: 38px;
    /* padding-left: 444px; */
}

header h3 {
    font-size: 25px;
    position: absolute;
    left: 231px;
    margin-top: 36.1px;
    color: #111111;
}

.links {
    /* text-align: center; */
    margin-top: 38px;
    margin-left: 444px;
}

.links a {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
}

#painel {
    position: absolute;
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    opacity: 100%;
    left: 230px;
    right: 230px;
    margin: 0 auto;
    /* margin-top: 36px;
    margin-left: 230px;
    padding-top: 366px;
    padding-left: 940px; */
}

#painel h2 {
    color: #111111;
    font-size: 32px;
    font-family: 'Roboto-Bold';
    margin-left: 60px;
    margin-top: 117px;
    max-width: 305px;
}

#painel p {
    opacity: 70%;
    position: absolute;
    font-family: 'Roboto-Regular';
    font-size: 18px;
    color: #000000;
    left: 60px;
    max-width: 300px;
    max-height: 84px;
    line-height: 28px;
}

#painel img {
    position: absolute;
    left: 624px;
    max-width: 216px;
    max-height: 300px;
    top: 66px;
}

.receitas p {
    font-family: 'Roboto-Bold';
    font-size: 24px;
    color: #111111;
    position: absolute;
    left: 230px;
    margin-top: 450px;
}

/* CARDS */

.cards {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    left: 230px;
    margin-top: 500px;
}

.card-image-container img {
    width: 100%;
    border-radius: 15px;
}

.card-info p {
    font-size: 18px;
    margin-top: 20px;
}

.autor p {
    font-size: 14px;
    margin-top: 5px;
    color: #777777;
}

.format-footer {
    font-size: 14px;
    color: #999999;
    position: absolute;
    margin-top: 1041px;
    text-align: center;
    background-color: #EEEEEE;
    padding: 15px;
    width: 100%;
}

.content-1 h3 {
    font-size: 20px;
    position: absolute;
    left: 230px;
    font-family: 'Roboto-Bold';
    color: #111111;
    margin-top: 30px;
}

.content-1 p {
    font-size: 18px;
    position: absolute;
    left: 230px;
    color: #444444;
    margin-top: 61px;
    line-height: 28px;
    max-width: 940px;
    max-height: 280px;
}

.content-2 h3 {
    font-size: 20px;
    position: absolute;
    left: 230px;
    font-family: 'Roboto-Bold';
    color: #111111;
    margin-top: 400px;
}

.content-2 p {
    font-size: 18px;
    position: absolute;
    left: 230px;
    color: #444444;
    margin-top: 431px;
    line-height: 28px;
    max-width: 940px;
    max-height: 280px;
}

.content-3 h3 {
    font-size: 20px;
    position: absolute;
    left: 230px;
    font-family: 'Roboto-Bold';
    color: #111111;
    margin-top: 770px;
}

.content-3 p {
    font-size: 18px;
    position: absolute;
    left: 230px;
    color: #444444;
    margin-top: 801px;
    line-height: 28px;
    max-width: 940px;
    max-height: 280px;
}

.cards-2 {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    left: 230px;
    margin-top: 10px;
}